<div class="container">
    <h5>{{title}}</h5>
    <div class="card-body">

            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
            
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Rule Code</label>
                        <input type="text" formControlName="codeDesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codeDesc.errors }" />
                        <div *ngIf="submitted && f.codeDesc.errors" class="invalid-feedback">
                            <div *ngIf="f.codeDesc.errors.required">Code Desc is required</div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Code</label>
                        <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
                        <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                            <div *ngIf="f.code.errors.required">Code is required</div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Remarks</label>
                        <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
                        <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                            <div *ngIf="f.remarks.errors.required">Remarks is required</div>
                        </div>
                    </div>
                    
                </div>

                <div class="mb-3">
                    <button [disabled]="submitting" class="btn btn-primary">
                        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                        Save
                    </button>
                    <a routerLink="/rules" class="btn btn-link">Cancel</a>
                </div>


            


            </form>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>

        </div>
</div>

<div class="p-4">
    <div class="container">
<h5>Rule Code Value</h5>
           <!-- <a routerLink="add" class="btn btn-sm btn-success mb-2" >Add Rule Code Value</a> -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 20%">Rule Code value ID</th>
                        <th style="width: 20%">Code</th>
                        <th style="width: 20%">Code Description</th>
                        <th style="width: 10%">Value</th>
                        <th style="width: 50%">Remarks</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ruleCode of ruleCodeValues">
                        <td>{{ruleCode.ruleCodeValueId}}</td>
                        <td>{{ruleCode.code}}</td>
                        <td>{{ruleCode.codeDesc}}</td>
                        <td>{{ruleCode.codeValue}} </td> 
                        <!--<td>  
                            <div class="mb-3 col">
                                <input type="text" [(ngModel)]="ruleCode.codeValue">
                            </div>
                                
                            </td> -->
                        <td>{{ruleCode.remarks}}</td>
                        <td style="white-space: nowrap">
                           <!-- <a routerLink="edit/{{ruleCode.ruleCodeValueId}}" class="btn btn-sm btn-primary me-1">Edit</a>
                           -->
                            <button (click)="updateRule(ruleCode.ruleCodeValueId)" class="btn btn-sm btn-primary me-1" [disabled]="ruleCode.isDeleting">
                                <span *ngIf="ruleCode.isDeleting" class="spinner-border spinner-border-sm"></span>
                                <span *ngIf="!ruleCode.isDeleting">Update</span>
                            </button>
                        </td>


                    </tr>
                    <tr *ngIf="!form.get('ruleCodeValueList')">
                        <td colspan="5" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span> 
                            <p>*No Records Found</p>
                        </td>
                    </tr>
                </tbody>
            </table>
 </div></div>