<h1>Task</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Task</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Task ID</th>
            <th style="width: 20%">Farm House Name</th>
            <th style="width: 20%">Task Title</th>
            <th style="width: 20%">Start Date</th>
            <th style="width: 20%">End Date</th>
            <th style="width: 50%">Remarks</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.taskId}}</td>
            <td>{{task.farmHouseName}}</td>
            <td>{{task.taskTitle}}</td>
            <td>{{task.startDate}}</td>
            <td>{{task.endDate}}</td>
            <td>{{task.remarks}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{task.taskId}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteFarmhouse(task.taskId)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="task.isDeleting">
                    <span *ngIf="task.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!task.isDeleting">Delete</span>
                </button>
            </td>


        </tr>
        <tr *ngIf="!tasks">
            <td colspan="5" class="text-center">
               <span class="spinner-border spinner-border-lg align-center"></span> 
                <p>*No Records Found</p>
            </td>
        </tr>
    </tbody>
</table>