<div class="container">
    <h5>{{title}}</h5>
    <div class="card-body">

            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
                
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Farm House Name</label>
                        <input type="text" formControlName="farmHouseName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.farmHouseName.errors }" />
                        <div *ngIf="submitted && f.farmHouseName.errors" class="invalid-feedback">
                            <div *ngIf="f.farmHouseName.errors.required">Farm House Name is required</div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Location</label>
                        <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                            <div *ngIf="f.location.errors.required">Location is required</div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Capacity</label>
                        <input type="text" formControlName="capacity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.capacity.errors }" />
                        <div *ngIf="submitted && f.capacity.errors" class="invalid-feedback">
                            <div *ngIf="f.capacity.errors.required">Capacity is required</div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label">Remarks</label>
                        <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
                        <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                            <div *ngIf="f.remarks.errors.required">Remarks is required</div>
                        </div>
                    </div>
                    </div>
                    
                <div class="mb-3">
                    <button [disabled]="submitting" class="btn btn-primary">
                        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                        Save
                    </button>
                    <a routerLink="/farmhouses" class="btn btn-link">Cancel</a>
                </div>
            </form>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>

        </div>
</div>