<div class="wrapper">
<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">Drench Mate 2024</div>
    
    <ul class="navbar-nav">
        <li><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
        <li><a routerLink="/userprofile" class="nav-link">User Profile</a></li>
        <li><a routerLink="/farmhouse" class="nav-link">Farm House Management</a></li>
        <li><a routerLink="/task" class="nav-link">Task</a></li>
        <li><a routerLink="/note" class="nav-link">Note</a></li>
        <li><a routerLink="/notisetting" class="nav-link">Notification Setting</a></li>
        <li><a routerLink="/rulesetting" class="nav-link">Rule Management Setting</a></li>
        <li><a routerLink="/partner" class="nav-link">Partner</a></li>
        <li><a routerLink="/logout" class="nav-link">Log Out</a></li>
     </ul>
    </nav>
    
</header>

<div class="content">
    <router-outlet></router-outlet>
  </div>



</div>
<app-footer></app-footer>

